<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gscmoh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gscmoh_doc</string>
			<key>CFBundleTypeName</key>
			<string>GSC Mohaa Server</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GSMO</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>GSMO</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>GSC Mohaa</string>
	<key>CFBundleGetInfoString</key>
	<string>GSC MoHAA</string>
	<key>CFBundleIconFile</key>
	<string>gscmoh_app</string>
	<key>CFBundleIdentifier</key>
	<string>net.damagestudios.gscmohaa</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Game Server Configulator (Mohaa)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>GSC MoHAA</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
